In [1]:
car=["bmw","audi","toyota","alion","hino","hundai"]

In [6]:
for i in car:
    if i=="audi":
        print(i.upper())
    else:
            print(i.title())

Bmw
AUDI
Toyota
Alion
Hino
Hundai

Conditional Test

i==audi means check the value of audi

In [7]:
for i in car:
    if i=="Audi":
        print(i.upper())
    else:
            print(i.title())

Bmw
Audi
Toyota
Alion
Hino
Hundai

In [18]:
name=["rafi"]
if name=="rafi":
    print("matched")

In [20]:
name="Rafi"
if name.lower()=="rafi":
    print("matched")

matched

In [21]:
print(name)

Rafi

In [22]:
name="Rafi"

In [25]:
if name!="Jim":
    print("Do not matched")

Do not matched

In [ ]:
if name=="Jim":
    print("Do not matched")

Numerical Comparison

In [28]:
age=23
if age==23:
    print("matched")

matched

In [32]:
age=24
if age!=23:
    print("do not matched")

do not matched

In [33]:
age=20

In [34]:
age>20

False

In [35]:
age>=20

True

In [36]:
age<19

False

In [37]:
age<20

False

In [38]:
age>20

False

In [39]:
age=20

multiple condition

In [40]:
my_age=20

In [41]:
your_age=25

In [42]:
my_age>19 and your_age<30

True

In [43]:
my_age>22 and your_age<30

False

In [44]:
my_age>19 or your_age<30

True

In [45]:
my_age>19 and your_age<30

True

check value in the list or not/ check which value is not in list

In [46]:
car=["bmw","audi","ferari","toyota"]

In [47]:
"bmw" in car

True

In [49]:
"audi" in car

True

In [51]:
"bmw" not in car

False

In [54]:
"hyundai" not in car

True

In [55]:
your_car="toyota"

In [63]:
if your_car not in car:
    print("Your car is not in the list")
else:
        print("Your car is in the list")

Your car is in the list

In [64]:
my_car="Alion"

In [66]:
if my_car not in car:
    print("Your car "+ my_car.title()+" not in the list")
else:
        print("Your car "+ my_car.title()+" is in the list")

Your car Alion not in the list

# Boolean Expression

In [67]:
have_car=True

In [68]:
if have_car==True:
    print("i have a car")

i have a car

In [72]:
if have_car:
    print("i have a car")
else:
        print("i dont have a car")

i have a car

In [71]:
if have_car:
    print("i have a car")

i have a car

In [73]:
have_car=False

In [74]:
if have_car==True:
    print("i have a car")

In [75]:
if have_car!=True:
    print("i have a car")

i have a car

In [76]:
if (True):
    print("i have a car")

i have a car