# Range Function

In [2]:
for value in range(1,5):
    print(value)

1
2
3
4

In [7]:
numbers=list(range(1,15))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [13]:
number=list(range(1,10,2))

In [14]:
number

[1, 3, 5, 7, 9]

In [15]:
number=list(range(2,10,2))

In [16]:
number

[2, 4, 6, 8]

In [17]:
number=list(range(1,10,2,3))

TypeError: range expected at most 3 arguments, got 4

In [18]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [19]:
value=3*2

In [20]:
print(value)

6

In [21]:
value=3**2

In [22]:
print(value)

9

In [27]:
for num in range(1,11):
    value=num**2
    print(value)

1
4
9
16
25
36
49
64
81
100

In [29]:
sq=[]
for num in range(1,11):
    value=num**2
    sq.append(value)

In [31]:
sq

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [32]:
min(sq)

1

In [33]:
max(sq)

100

In [34]:
sorted(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [36]:
sq.reverse()

In [37]:
sq

[100, 81, 64, 49, 36, 25, 16, 9, 4, 1]

In [38]:
sum(sq)

385

List Comprehension

In [39]:
s=[value**2 for value in range(1,10)]

In [40]:
print(s)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [42]:
sum (s)

285